<section hlmCard class="bg-transparent shadow-none border-none">
  <div hlmCardHeader>
    <h3 hlmCardTitle>Related Products</h3>
    <p hlmCardDescription>Products you may like</p>
  </div>
  <div hlmCardContent>
    @if (relatedQuery.isSuccess()) {
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 w-full gap-4"
    >
      @for (product of relatedQuery.data(); track product.public_id) {
      <product-card [product]="product" />
      }
    </div>
    
    }@else {
    <div class="flex justify-center items-center text-center">
      @if(relatedQuery.isPending()){
      <hlm-spinner />

      }@else if (relatedQuery.error()) {
      <p hlmP>Error loading featured products</p>
      }
    </div>
    }
  </div>
</section>
