<footer class="bg-card px-4 py-4">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <div class="flex flex-row items-center gap-4">
      <span class="text-sm"
        >© {{ currentYear }} Developed by
        <a
          href="https://github.com/Samuelsf22/"
          class="text-primary hover:underline"
          >samuelsf22</a
        >. All rights reserved.
      </span>
    </div>

    <a href="https://github.com/Samuelsf22/e-frontend" target="_blank">
      <ng-icon name="featherGithub" />
    </a>
  </div>
</footer>
