@if (product.isSuccess()) {
<section hlmCard class="bg-transparent shadow-none border-none">
  <div
    hlmCardContent
    class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-4"
  >
    <div class="col-span-1 md:col-span-2">
      <img
        [src]="product.data().picture_url"
        alt="{{ product.data().name }}"
        class="mx-auto block w-full max-w-[350px]"
      />
    </div>
    <div class="col-span-1 md:col-span-2 lg:col-span-3">
      <h3 hlmCardTitle class="uppercase line-clamp-2">
        {{ product.data().name }}
      </h3>
      @if (product.data().stock! > 0) {
      <p class="text-green-600">In stock</p>
      }@else {
      <p class="text-destructive">Out of stock</p>
      }
      <div class="pt-4">
        <p class="text-2xl font-semibold">
          {{ product.data().price | currency }}
        </p>
        <div class="flex items-center">
          <p hlmP>Brand</p>
          <p class="font-semibold ml-2">{{ product.data().brand }}</p>
        </div>
        <div class="flex items-center">
          <p hlmP>Color</p>
          <div
            class="size-5 rounded-full ml-2 border border-foreground"
            [style.background-color]="product.data().color"
          ></div>
        </div>
      </div>
      <div class="py-4">
        <h4 hlmH4>Description</h4>
        <p class="text-balance">{{ product.data().description }}</p>
      </div>
      <button
        hlmBtn
        variant="outline"
        class="flex items-center gap-2"
        [disabled]="product.data().stock <= 0"
        (click)="addToCart(product.data()!)"
      >
        {{ labelAddToCart }}
        <ng-icon name="{{ iconAddToCart }}" size="20" />
      </button>
    </div>
  </div>
</section>

<related-products [publicId]="publicId" />

} @else {
<div class="flex justify-center items-center text-center">
  @if (product.isPending()) {
  <hlm-spinner />
  } @else if (product.error()) {
  <p hlmP>Error loading product</p>
  }
</div>
}
