<section class="w-80" hlmCard>
    <div hlmCardHeader>
        <h3 hlmCardTitle>Sign In</h3>
        <p hlmCardDescription>Sign in to your account</p>
    </div>
  <div hlmCardContent>
    
    <form [formGroup]="form" class="space-y-6">
      <hlm-form-field>
        <input
          aria-label="Email address"
          formControlName="email"
          class="w-full"
          hlmInput
          type="email"
          placeholder="Email"
        />
        <hlm-error>Your email is required</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <input
          aria-label="Password"
          formControlName="password"
          class="w-full"
          hlmInput
          type="password"
          placeholder="Password"
        />
        <hlm-error>Your password is required</hlm-error>
      </hlm-form-field>

      <button type="submit" hlmBtn>Submit</button>
    </form>
  </div>
</section>
