<div class="sm:max-w-[425px] flex flex-col gap-4">
  <hlm-dialog-header>
    <h3 hlmDialogTitle>Log In</h3>
    <p hlmDialogDescription>Enter your credentials to log in</p>
  </hlm-dialog-header>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmitLogin()"
    class="sm:w-80 flex flex-col gap-4"
  >
    <hlm-form-field>
      <input
        aria-label="Email address"
        formControlName="email"
        class="w-full"
        hlmInput
        type="email"
        placeholder="Email"
      />
      <hlm-error>Your email is required</hlm-error>
    </hlm-form-field>
    <hlm-form-field>
      <input
        aria-label="Password"
        formControlName="password"
        class="w-full"
        hlmInput
        type="password"
        placeholder="Password"
      />
      <hlm-error>Your password is required</hlm-error>
    </hlm-form-field>
    @if (loginMutation.error()){
    <p
      (click)="loginMutation.reset()"
      class="text-destructive text-center text-sm"
    >
      Invalid Credentials
    </p>
    }
    <div class="flex justify-end gap-4">
      <button hlmBtn class="w-full" type="submit">Log In</button>
    </div>
  </form>
  <hlm-dialog-footer>
    <p hlmP class="w-full text-center text-sm">
      Don't have an account?
      <a class="text-primary" href="/signup">Sign Up</a>
    </p>
  </hlm-dialog-footer>
</div>
