<header
  class="fixed flex items-center justify-between w-full backdrop-blur-md py-4 px-4"
>
  <nav class="flex max-w-7xl mx-auto items-center justify-between w-full">
    <a href="/"> <span class="text-2xl font-semibold">E-commerce</span></a>
    <div>
      <a href="/">
        <button hlmBtn variant="link" class="font-semibold">Home</button>
      </a>
      <button
        hlmBtn
        variant="link"
        class="font-semibold gap-2"
        [brnMenuTriggerFor]="categoriesMenu"
      >
        Products
        <ng-icon name="featherChevronDown" />
      </button>
      <ng-template #categoriesMenu>
        <hlm-menu>
          @if (categories.isSuccess()){ @for (category of categories.data();
          track category.public_id) {
          <a [routerLink]="['/category', category.public_id]">
            <button hlmMenuItem class="flex items-center gap-4">
              {{ category.name }}
            </button>
          </a>
          }}@else {
          <div class="flex justify-center items-center text-center">
            @if(categories.isPending()){
            <hlm-spinner />

            }@else if (categories.error()) {
            <p hlmP>Error</p>
            }
          </div>
          }
        </hlm-menu>
      </ng-template>
    </div>
    <div class="flex items-center">
      @if(!isSignedIn){
      <button
        hlmBtn
        variant="link"
        align="end"
        [brnMenuTriggerFor]="signInMenu"
      >
        Sign In
      </button>
      <ng-template #signInMenu>
        <hlm-menu>
          <button
            hlmMenuItem
            class="flex items-center gap-4"
            (click)="openSignInComponent()"
          >
            <ng-icon name="featherUserCheck" />
            Sign In
          </button>
          <a href="/signup">
            <button hlmMenuItem class="flex items-center gap-4">
              <ng-icon name="featherUserPlus" />
              Sign Up
            </button>
          </a>
        </hlm-menu>
      </ng-template>
      }@else {
      <button hlmBtn variant="link" align="end" [brnMenuTriggerFor]="userMenu">
        <ng-icon name="featherUser" />
      </button>
      <ng-template #userMenu>
        <hlm-menu>
          <a [routerLink]="['/orders/user']">
            <button hlmMenuItem class="flex items-center gap-4">
              <ng-icon name="featherShoppingBag" />
              Orders
            </button>
          </a>
          <button
            hlmMenuItem
            class="flex items-center gap-4"
            (click)="signOut()"
          >
            <ng-icon name="featherLogOut" />
            Sign Out
          </button>
        </hlm-menu>
      </ng-template>
      }
      <a [routerLink]="['/orders']">
        <button hlmBtn variant="link" align="end">
          <ng-icon name="featherShoppingCart" />
        </button>
      </a>
      <theme-toggle />
    </div>
  </nav>
</header>
